.level{

    position: fixed;
    width: 40%;
    margin: auto;
    left: 30%;
    bottom: 0px;

    @include bp(laptop){
        width: 35%;
        left: 32.5%;
    }

    @include bp(escritorio){
        width: 30%;
        left: 35%;
    }

    .parrilla{
        position: relative;
        height: 35vh;

        @include bp(tablet){
            height: 40vh;
        }

        @include bp(laptop){
            height: 40vh;
        }

        @include bp(escritorio){
            height: 44vh;
        }



        section {

            position: relative;

            img.parrillaImg {
                width: 100%;
                transform: translateY(-29px);
                user-select: none;
                pointer-events: none;
            }
    
            img.llamasImg{
    
                position: absolute;
                width: 85%;
                left: 7.5%;
                top: 0px;
                transform: translateY(-45%);
                mix-blend-mode: screen;
                user-select: none;
                pointer-events: none;

                @include bp(tablet){
                    transform: translateY(-40%);
                }

                @include bp(laptop){
                    transform: translateY(-29%);
                }

                @include bp(escritorio){
                    transform: translateY(-28%);
                }

                @include keyframes(viewLlamas){

                    0%{
                        mix-blend-mode: lighten;
                    }

                    50%{
                        mix-blend-mode: screen;
                    }

                    100%{
                        mix-blend-mode: color-dodge;
                    }

                }

                @include animate(viewLlamas, 1.5s, linear, infinite);
    
            }
        }

    }

}

.bases{

    position: fixed;
    bottom: 0px;
    width: 30%;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    user-select: none;

    .base {
        width: 200%;
        transform: translateY(15%);
    }

    .plato{
        width: 100%;
        
    }

}


.bases.left{
    left: 0px;

    .base {
        transform: translateX(-50%) translateY(15%);
    }

}

.bases.right{
    right: 0px;
}

.platos{
    position: fixed;
    bottom: 0px;
    width: 26%;
    display: flex;
    align-items: flex-end;
    transform: translateY(-5%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;

    @include bp(laptop){
        transform: translateY(-10%); 
    }

}

.platos.left{
    left: 0px;
}

.platos.right{
    right: 0px;
}